#Code based on: shuainie-google (2018) instance_template.jinja , deploymentmanager-samples, Github. Available at: https://github.com/GoogleCloudPlatform/deploymentmanager-samples/blob/master/google/resource-snippets/compute-v1/instance_template.jinja . Last accessed 13 April 2021.
resources:

#instance template to be instantiated within instance groups. Contains a boot disk which loads debian-9 OS
- name: {{ env["name"] }}-instance-template
  type: compute.v1.instanceTemplate
  properties:
    project: {{ env["deployment"] }}
    properties:
      machineType: n1-standard-1
      disks:
      - autoDelete: true
        boot: true
        deviceName: boot
        initializeParams:
          sourceImage: projects/debian-cloud/global/images/family/debian-9
          type: PERSISTENT
      networkInterfaces:
        - accessConfigs:
          - name: External NAT
            type: ONE_TO_ONE_NAT
            network: {{ properties["network"] }}

#startup script; installs apache 2 web server
    metadata:
      items:
        - key: startup-script
          value: |
            #! /bin/bash
            apt-get update
            apt-get install apache2 -y
            service apache2 restart
            echo "http-`hostname`" | tee /var/www/html/index.html
            EOF"